
.vs/BabyCsharpProject/v16/.suo
bin/Debug/Out.exe
.vs/BabyCsharpProject/v16/.suo
.vs/slnx.sqlite
bin/Debug/Out.exe
bin/Debug/BabyCsharpProject.exe
bin/Debug/BabyCsharpProject.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
